.user-page-wrapper{
    max-width: 70vw;
    margin: 0 auto;
}



.user-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;

   

    &-post {
            background-color: #0f0112;

            &_image {
                width: 100%;
                height: 50%;
                object-fit: cover;
            }

            &-details {
                padding: 24px;

                &_username {
                        line-height: 32px;
                        font-size: 24px;
                        font-weight: 600;
                    }

                &_date {
                    line-height: 20px;
                    font-size: 12px;
                    font-weight: 300;
                }

                &_message {
                    margin-top: 24px;
                    line-height: 24px;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

        }
}


.user-header{

    position: relative;
    height: 500px;
    margin-bottom: 50px;
    overflow: hidden;

    &_cover{
        object-fit: cover;
        height: 30vh;
        width: 100vw;
        
    }

    &_details{
        position: absolute;
        top: calc(30vh - 75px);
        left: 0;
        margin-left: 5vw;
        width: 100vw;
        background-color: #2A2B2Caa;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;


        display: flex;
        flex-direction: row;
        align-items: center;


        &_profile{
            border-radius: 100%;
            border: 5px solid #dcdcdc;
            height: 150px;
            width: 150px;
        }

        &_texts{
            margin-left: 24px;
        }

    }



}
