// Background colors
$background-color: #2A2B2C;
$background-color-darker: #0f0112;
$background-color-transparent: #2A2B2Caa;

// Font styles
$font-family: 'Poppins', sans-serif;
$regular: 400;
$bold: 600;
$light: 300;
$text-color: white;

// Desktop styles
$desktop-title: 32px;
$desktop-subtitle: 24px;
$desktop-button: 24px;
$desktop-body: 16px;
$desktop-secondary: 12px;

// Mobile styles
$mobile-title: 24px;
$mobile-subtitle: 20px;
$mobile-button: 20px;
$mobile-body: 14px;
$mobile-secondary: 10px;

// Spacing Styles